@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;

}
.wrapper{
    display: flex;

}
.sidebar{
    width: 280px;
    min-width: 280px;
    z-index: 1000;
    background: #112a44;
    display: flex;
    flex-direction: column;
    transition: 0.25s ease-in-out;
    height: 100vh;
}
.sidebar .toggle-btn{
    background: transparent;
    padding: 2rem 1.8rem;
    border: 0;
    cursor: pointer;
}
.toggle-btn i{
    font-size: 1.5rem;
    color: #ffffff;
}
.sidebar .sidebar-logo{
    margin: auto 0;
}
.sidebar-logo a{

}
.sidebar-nav{
    padding: 1rem 0;
    flex: 1 1 auto;
}
.sidebar-item{
    position: relative;
}
.sidebar-nav > .sidebar-item{
    margin-bottom: 15px;
}
.sidebar .sidebar-link{
    display: block;
    padding: 0.6rem 1.6rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
.sidebar .sidebar-link:hover{
    background: rgba(255,255,255,.075);
    border-left: 5px solid #4070f4;
}
.sidebar-link i{
    font-size: 1.2rem;
    margin-left: .75rem;
}

.sidebar .sidebar-link[data-bs-toggle="collapse"]::after{
    position: absolute;
    content: "";
    display: inline-block;
    border: solid;
    border-width: 0 .075rem .075rem 0;
    padding: 2px;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}
.sidebar .sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.sidebar .sidebar-footer {
    margin-bottom: 1.5rem;
}
.sidebar .sidebar-item .collapse {
    transition: max-height 0.5s ease;
}
.sidebar .sidebar-item .collapse.show {
    max-height: 500px; /* Задайте максимальную высоту для раскрытия */
}
.sidebar .sidebar-item .collapse.collapsed {
    max-height: 0;
}
.sidebar .sidebar-link.active {
    background-color: #1c4566;
    border-left-color: #1c75bc;
    color: #ffffff;
}
.sidebar-link i {
    margin-right: 0.75rem;
    font-size: 1.5rem;
    vertical-align: middle;
}

